CONFIG_M68K=y
CONFIG_SYS_TEXT_BASE=0x0
CONFIG_TARGET_SBC030=y
CONFIG_NR_DRAM_BANKS=0
CONFIG_LOGLEVEL=8
# CONFIG_DISPLAY_BOARDINFO is not set
# CONFIG_CMDLINE_EDITING is not set
# CONFIG_AUTO_COMPLETE is not set
CONFIG_SYS_PROMPT="-> "
# CONFIG_AUTOBOOT is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
# CONFIG_CMD_MISC is not set
# CONFIG_PARTITIONS is not set
# CONFIG_NET is not set
